application/*.cmake
application/CMakeCache.txt
application/CMakeFiles/
application/Makefile

library/CMakeFiles/
library/*.caffemodel
library/*.prototxt
library/*.cmake


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
#*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
#*.a
*.lib

# Executables
*.exe
*.out
*.app
